@model List<ECap.Admin.Areas.SuperAdmin.Models.Products.ListProduct>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Products</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/superadmin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <a href="/superadmin/products/create" class="btn btn-primary">Add New Product</a>
                </div>
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><img src="/products/@item.Image" style="width:50px; width:50px;"/></td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.Category</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <span class="label label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">InActive</span>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu" role="menu" style="">
                                                <a class="dropdown-item" href="/superadmin/products/edit/@item.Id">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <a class="dropdown-item" href="/superadmin/products/updatestatus/@item.Id">
                                                    @if (item.Status)
                                                    {<i class="fas fa-toggle-on"></i> }
                                                    else
                                                    {<i class="fas fa-toggle-off"></i>} Update Status
                                                </a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


