@model Microflake.Web.Models.StripPayModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Payment</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>&gt;</li>
                        <li>Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-100">
    <div class="row">
        <div class="col-md-6">
            asdfasdf
        </div>
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <span>
                        <label for="country">Credit Card<span style='color:red'>*</span></label><br>
                    </span>
                    <div id="card-element" class="field" style="border:solid 1px #ced4da;padding: 0 10px;"></div>
                    <div class="outcome">
                        <div class="error"></div>
                        <div class="success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <!-- cornelious fazal -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/Scripts/stripe.js"></script>
}