@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

    var chips = new List<string>();
    chips.Add("/assets/AllCapsAndChips/Chips/10Original/original gold chip/IMG_3368.jpg");
    chips.Add("/assets/AllCapsAndChips/Chips/13Dice/Gold/20220216_180700.jpeg");

    var caps = new List<string>();
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3041.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3042.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3043.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3044.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3045.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3046.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3047.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3048.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3050.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3051.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3052.JPG");
    caps.Add("/assets/AllCapsAndChips/capsZipped-Final/FR ONLINE CAPS/FrontCaps/IMG_3053.JPG");
}
<style>
    .select-chip img, .select-cap img {
        cursor: pointer;
    }

    .chip-wrapper, .chip-title {
        display: none;
    }
</style>

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cap Custimazor</h3>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>&gt;</li>
                        <li>Cap Custimazor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">

                    <div id="img-1" class="zoomWrapper">
                        <a href="#" style="position:relative;display:block">
                            <img id="zoom1" src="/assets/AllCapsAndChips/withoutChip/33.png" alt="big-1">
                            <img id="zoom2" style="position:absolute;left:0px;top:0px;" src="/assets/AllCapsAndChips/withoutChip/33-1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">

                        <h1>Donec eu furniture</h1>
                        <div class="product_nav">
                            <ul>
                                <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class=" product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"> (customer review ) </a></li>
                            </ul>
                        </div>
                        <div class="product_price">
                            <span class="old_price">$80.00</span>
                            <span class="current_price">$70.00</span>
                        </div>
                        <div class="product_meta">
                            <span>Colour</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <div class="single_portfolio">
                                    <div class="portfolio_thumb select-cap" data-id="33" style="border:solid">
                                        <img src="/assets/AllCapsAndChips/withoutChip/33.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="single_portfolio">
                                    <div class="portfolio_thumb select-cap" data-id="34">
                                        <img src="/assets/AllCapsAndChips/withoutChip/34.png" alt="">
                                    </div>
                                </div>
                            </div>
                            @*@foreach (var item in caps)
                                {
                                    <div class="col-lg-2 col-md-3">
                                        <div class="single_portfolio">
                                            <div class="portfolio_thumb select-cap">
                                                <img src="@item" alt="">
                                            </div>
                                        </div>
                                    </div>
                                }*@
                        </div>
                        <div class="product_meta chip-title" style="display:block">
                            <span>Chip </span>
                        </div>
                        <div class="chip-wrapper wrapper-33" style="display:block">
                            <div class="row">
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip" style="border:solid">
                                            <img src="/assets/AllCapsAndChips/Chips/10Original/original gold chip/IMG_3368.JPG" data-chip="/assets/AllCapsAndChips/withoutChip/33-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip">
                                            <img src="/assets/AllCapsAndChips/Chips/10Original/original gold chip/IMG_3369.png" data-chip="/assets/AllCapsAndChips/withoutChip/33-2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chip-wrapper wrapper-34">
                            <div class="row">
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip">
                                            <img src="/assets/AllCapsAndChips/Chips/10Original/original gold chip/IMG_3368.JPG" data-chip="/assets/AllCapsAndChips/withoutChip/34-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip">
                                            <img src="/assets/AllCapsAndChips/Chips/10Original/original gold chip/IMG_3369.png" data-chip="/assets/AllCapsAndChips/withoutChip/34-2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*@foreach (var item in chips)
                            {
                                <div class="col-lg-2 col-md-3">
                                    <div class="single_portfolio">
                                        <div class="portfolio_thumb select-chip">
                                            <img src="@item" alt="">
                                        </div>
                                    </div>
                                </div>
                            }*@
                        <div class="row">

                        </div>

                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input min="1" max="100" value="1" type="number">
                            <button class="button" type="submit">add to cart</button>

                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li><a href="#" title="Add to wishlist">+ Add to Wishlist</a></li>
                                <li><a href="#" title="Add to wishlist">+ Compare</a></li>
                            </ul>
                        </div>
                        <div class="product_meta">
                            <span>Category: <a href="#">Clothing</a></span>
                        </div>

                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" title="google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Description</a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews (1)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>1 review for Donec eu furniture</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="/assets/img/blog/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                        <div class="reviews_meta">
                                            <div class="star_rating">
                                                <ul>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <p><strong>admin </strong>- September 12, 2018</p>
                                            <span>roadthemes</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="comment_title">
                                    <h2>Add a review </h2>
                                    <p>Your email address will not be published.  Required fields are marked </p>
                                </div>
                                <div class="product_ratting mb-10">
                                    <h3>Your rating</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_review_form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">Your review </label>
                                                <textarea name="comment" id="review_comment"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">Name</label>
                                                <input id="author" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email </label>
                                                <input id="email" type="text">
                                            </div>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product section area start-->
<section class="product_section  p_section1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Related products</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product_area ">
                    <div class="product_container bottom">
                        <div class="custom-row product_row1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        $(".select-chip").click(function () {
            $(".select-chip").each(function () {
                $(this).css({ "border": "none" });
            })

            $(this).css({ "border": "solid" });

            var url = $(this).find("img").attr("data-chip");
            $("#zoom2").attr("src", url);
        });

        $(".select-cap").click(function () {
            $(".select-cap").each(function () {
                $(this).css({ "border": "none" });
            })

            $(this).css({ "border": "solid" });

            $("#zoom2").attr("src", "");
            var url = $(this).find("img").attr("src");
            $("#zoom1").attr("src", url);

            $(".chip-wrapper").hide();
            $(".chip-title").hide();

            $(".select-chip").each(function () {
                $(this).css({ "border": "none" });
            })

            var id = $(this).attr("data-id");
            $(".wrapper-" + id).show();
            $(".chip-title").show();
        });
    </script>
}